#adminManagePage h2 {
  text-align: center;
}

.adminManageBlock {
  margin: 30px;
  float: left;
  width: 300px;
  height: 300px;
  text-align: center;
}

.adminManageBlock.closed {
  background: #333333;
}

.adminManageBlock p.blockTitle {
  font-size: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
}