.adminViewHeader {
  background:#E55234;
  color:white;
  text-align:center;
}

#adminTable td.firstColumnCell {
  background:#A3A3A3;
  text-align:center;
  vertical-align: middle;
}

#adminTable td {
  color:white;
  border: 2px solid black;
  text-align: center;
}

#adminTable td.full-cell {
  background:#E55234;
}

#adminTable td.empty-cell {
  background:#676767;
}

#adminTable td.unavailable-cell {
  background:#252525;
}

#adminTable, #adminTable tr {
  border: 1px solid black;
}

.table>tbody>tr>td {
  border-top:0;
}

#adminScheduleNav li.active > a {
  background:#E55234;
  color:white;
}
#adminScheduleNav li > a{
  background:#A3A3A3;
  color:#252525;
}


#adminScheduleNav li {
  background:#252525;
}


.toggle-ul {
  padding-left: 0;

}
.toggle-container {
  width: 100%;
  position: relative;
  text-align: center;
  /*margin: auto;*/
}
.toggle-ul > li {
  display: inline;
  margin-bottom: 0px;
  list-style: none;
}

.toggle-button {
  font-size: 150%;
  padding: 6px 14px;
  outline: none;
  background: #A3A3A3;
  color: #676767;
  margin: 0px 4px -10px 1px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 6px 6px 0 0;
}

.toggle-button.active {
  color: #000;
  background: #E55234;
}

/* For meeting detail view*/
.listDiv ul {
  padding-left:0;
  list-style:none;
}
