.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none !important;
  }
}
.multi-item-carousel .carousel-control.left, .multi-item-carousel .carousel-control.right {
  background-image: none;
}

.multi-item-carousel .carousel-indicators .active, .multi-item-carousel .carousel-indicators .active + li, .multi-item-carousel .carousel-indicators .active + li + li {
  background-color: var(--primary-color);
  width: 12px;
  height: 12px;
  margin: 0px 1px;
}

.multi-item-carousel .carousel-indicators li {
  background-color: var(--dark-gray);
  border: black 0px solid;
}

.multi-item-carousel .carousel-indicators {
  bottom: -40px;
}

.multi-item-carousel {
  background: var(--dark-gray);
  margin-bottom: 30px;
  border-radius: 10px;
}

.multi-item-carousel .carousel-inner .schedule-item-container p {
  font-size: 1.6em;
  color: var(--light-gray);
}

.multi-item-carousel .carousel-inner .item > div {
  padding: 0px;
  margin: 5px 0px;
}

.multi-item-carousel .carousel-inner .item > div:nth-child(-n + 2)  {
  border-right: var(--light-gray) 4px solid;
  padding-right: -2px;
  margin-right: -2px;
}
.multi-item-carousel .carousel-inner .item > div:nth-child(n + 2)  {
  border-left: var(--light-gray) 4px solid;
  padding-left: -2px;
  margin-left: -2px;
}

.multi-item-carousel .carousel-inner .schedule-item-container p:first-of-type {
  font-size: 2em;
  color: var(--primary-color);
}
