.ffbutton-red {
  background-color: #E55234;
}

.radiobutton {
  background-color: #A3A3A3;
  color: white;
}
.radiobutton.active {
  background-color: #E55234;
  color: white;
}

.radiobutton.focus {
  color: white;
}

.cardImage {
  max-height: 30vh;
}
