.list-avatar {
  max-height: 40%;
  max-width: 40%;
  display: block;
  float: left;
  margin-left: 5%;
  margin-right: 3%;
}

div.text-style {
  display: inline-block;
}

.list-text-style {
 font-size: 1.4em;
 color: var(--light-gray);
 font-family: 'Vinkel,sans-serif';
 float: right;
 margin-top: 5%;
}

.list-header {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2em;
}
