.list-avatar {
  max-height: 40%;
  max-width: 40%;
  display: block;
  float: left;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 3%;
}

div.text-style {
  display: inline-block;
}

.list-text-style {
 font-size: 140%;
 color: var(--light-gray);
 font-family: 'Vinkel,sans-serif';
 float: right;
}

.list-header {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 120%;
}
