.login-logo {
  margin: 50px;
}

.login-item {
  margin: 20px auto;
  max-width: 400px;
}

.login-button {
  background: var(--primary-color);
  color: white;
  margin: 20px auto;
  max-width: 400px;
}

.login-button:hover {
  color: white !important;
}

.login-error {
  text-align: center;
  color: var(--primary-color);
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}