/*.menuListItem {
  list-style-type: none;
  font-size: larger;

}*/
#mainContainer {
  padding-top: 50px;
}

body {
  background: #252525;
  color: lightgray;
}

.fullwidth {
  width: 100%;
}

.fullwidth {
  width: 100%;
}
