/*.menuListItem {
  list-style-type: none;
  font-size: larger;

}*/
#mainContainer {
  padding-top: 50px;
}

body {
<<<<<<< ece2a75ecbcafd31b67ec03b3f075b6960035f2e
  background: #252525;
  color:  #A3A3A3;
}

.fullwidth {
  width: 100%;
}

.fullwidth {
  width: 100%;
=======
  background: #191919 ;
  color: #A3A3A3 ;
>>>>>>> styled timeslot and landing page
}
