.schedule-list-avatar {
  max-height: 30%;
  max-width: 30%;
  display: block;
  float: left;
  margin-left: 5%;
  padding: 2%;
}

.schedule-text-style {
  font-size: 2em;
  color: var(--light-gray);
}

.schedule-name-style {
  color: var(--primary-color);
  font-weight: bold;
  font-family: 'Vinkel,sans-serif';
}

.schedule-divider {
  width: 80%;
  height: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.schedule-header-style {
  font-size: 25px;
  color: var(--light-gray);
  text-align: center;
}
