.schedule-list-avatar {
  max-height: 30%;
  max-width: 30%;
  display: block;
  float: left;
  border-bottom: 15px solid #252525;
  margin-left: 5%;
  /*margin-top: 5%;*/
  padding: 2%;
}

.schedule-text-style {
  font-size: 25px;
  color: #A1A19A;
  font-family: 'Vinkel,sans-serif';
}

.schedule-name-style {
  /*margin-left: 55px;*/
  color: #E55234;
  margin-top: 5%;
  font-weight: bold;
  /*font-family: 'Downward-fall';*/
}

.divider {
  width: 80%;
  height: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.schedule-header-style {
  color: #A1A19A;
  font-weight: bold;
  font-family: 'Vinkel,sans-serif';
  text-align: center;
}
