.timeslot-container {
  max-width: 500px;
}

.dragableContainer p {
  position: absolute;
  right: 5px;
  margin: 0px;
  color: white;
}
.dragableContainer.unavailable p{
  color: var(--light-gray);
}

.dragableContainer.unavailable hr{
  position: relative;
  border: dashed 1px;
  margin: 0px;
}

.dragableContainer {
  background: var(--primary-color);
  position: absolute;
  width: 100%;
}
.dragableContainer.unavailable {
  background: var(--dark-gray);
  position: absolute;
  width: 100%;
}

.timeslot-dragball {
  transform: translate(-50%, 0) rotate(45deg);
  background: black;
  position: absolute;
  left: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.timeslot-dragball.bottom {
  bottom: -10px;
}
.timeslot-dragball.top {
  top: -10px;
}

.timeslot-input {
  font-size: x-large;
  text-align: center;
  color: var(--light-gray);
}

.timeslot-input p {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.timeslot-input input {
  display: inline-block;
  width: 70px;
  color: black;
  text-align: center;
  margin: 10px;
  border: none;
}

.timeslot-picker .date {
  color: var(--primary-color);
  text-align: center;
  font-size: 25px;
  /* margin-bottom: 20px; */
  margin-top: 5px;
}

.timeslot-container .navigation-container {
  text-align: center;
  margin: 20px;
  margin-top: 5px;
}

.timeslot-container .navigation-container span.glyphicon {
  transform: scale(2);
  margin: 0px 20px;
}

.invisible {
  visibility: hidden;
}

.timeslot-container .help-text-center {
  text-align: center;
  margin-top: 10px;
}

.unavailable-text {
  display: block !important;
  font-size: 13px;
  color: var(--primary-color);
  margin: 0px;
}